In [185]:
import pandas as pd
from sklearn.metrics import mean_squared_error
import numpy as np
import matplotlib.pyplot as plt

In [186]:
files = {}
name_files = ["analytic","beeman","verlet","gear"]
dt_numbers = ["0.01","0.001","1.0E-4","1.0E-5","1.0E-6"]
dts = [0.01,0.001,1.0E-4,1.0E-5,1.0E-6]

In [187]:
for name in name_files:
    for dt in dt_numbers:
        files[f'{name}_{dt}']= pd.read_csv(f'../src/main/resources/output/oscillator_{name}_{dt}.csv')

In [188]:
# mse_results = {}
#
# for name in name_files:
#     if name == 'analytic':
#         continue
#     aux = {}
#     for dt in dt_numbers:
#         mse_results[f'{name}_{dt}'] = mean_squared_error(files[f'analytic_{dt}']['position'],files[f'{name}_{dt}']['position'])

In [189]:
# mse_results = {}
#
# for dt in dt_numbers:
#     mse_results[dt] = {}
#     for name in name_files:
#         if name == 'analytic':
#             continue
#         mse_results[dt][name] = mean_squared_error(files[f'analytic_{dt}']['position'],files[f'{name}_{dt}']['position'])

In [190]:
mse_results = {}
for name in name_files:
    if name == 'analytic':
        continue
    aux = []
    for dt in dt_numbers:
        # aux.append(mean_squared_error(files[f'analytic_{dt}']['position'],files[f'{name}_{dt}']['position']))
        aux.append(np.square(np.subtract(files[f'analytic_{dt}']['position'], files[f'{name}_{dt}']['position'])).mean())
    mse_results[name] = aux
mse_results

{'beeman': [0.002636377301379541,
  2.4839517383064597e-05,
  2.468633981514185e-07,
  2.467102177686458e-09,
  2.4669652353943547e-11],
 'verlet': [0.0009061413760841465,
  0.0009255943999752568,
  0.0012122481322387696,
  0.0012436062036627472,
  0.0012467710759002586],
 'gear': [0.0010032533671209185,
  1.0031250356711947e-05,
  1.0028168806361686e-07,
  1.0027829319360495e-09,
  1.0027897743196875e-11]}

In [191]:
columns = ["dt"]
columns.extend(name_files)
columns.remove('analytic')
columns

['dt', 'beeman', 'verlet', 'gear']

In [192]:
final_df = pd.DataFrame(columns=columns)

In [193]:
final_df.dt = dts
final_df

         dt beeman verlet gear
0  0.010000    NaN    NaN  NaN
1  0.001000    NaN    NaN  NaN
2  0.000100    NaN    NaN  NaN
3  0.000010    NaN    NaN  NaN
4  0.000001    NaN    NaN  NaN

In [194]:
for name in mse_results.keys():
    final_df.loc[:,name] = mse_results[name]
final_df = final_df.sort_values("dt", ascending=False)
final_df

/var/folders/ld/9r7b_z792271p_ycsc8k24240000gn/T/ipykernel_6852/1495450869.py:2: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  final_df.loc[:,name] = mse_results[name]

         dt        beeman    verlet          gear
0  0.010000  2.636377e-03  0.000906  1.003253e-03
1  0.001000  2.483952e-05  0.000926  1.003125e-05
2  0.000100  2.468634e-07  0.001212  1.002817e-07
3  0.000010  2.467102e-09  0.001244  1.002783e-09
4  0.000001  2.466965e-11  0.001247  1.002790e-11

In [ ]:
fig, ax = plt.subplots()
ax.set_yscale('log')
ax.set_xscale('log')
ax.plot(final_df.dt,final_df.beeman, color= 'blue')
ax.plot(final_df.dt, final_df.gear, color= 'red')
ax.plot(final_df.dt, final_df.verlet, color= 'green')
plt.show()

In [196]:
#export to csv
final_df.to_csv("./output/csv/MSE_Algorithms.csv", header=True)